/*basic styles for black background and crosshair cursor*/
body{
	background: #000;
	margin: 0;
	font-size: 16px;
	font-family: Verdana;
}

h1{
	pointer-events: none;
}

#message{
max-width: 60rem;
font-size: 1.5rem;
color: white;
text-align: center;
margin: 0 auto;
position: relative;

}
canvas{
	cursor: crosshair;
	display: block;
}



span{
    animation: texte 0.5s linear infinite alternate;
    vertical-align: -.5rem;

}

span:hover{
    animation: paused;
}

@keyframes texte {
    from{
        opacity: 0;
        transform: scale(2.0);
        
    }
    to{
        opacity: 1;
        transform: scale(1);
        color: #fff;
    }
    
}

#gauche {
    margin-right: 1.5rem;
    color: red;
}

#droite {
    margin-left: 1.5rem;
    color: red;
}


.birth{
    animation: texte 1.5s linear infinite alternate;
    font-size: 1.8rem;
}

.birth:hover{
    animation: paused;
}

@keyframes texte {
    from{
        opacity: 0;
        transform: scale(2.0);
        
    }
    to{
        opacity: 1;
        transform: scale(1);
        color: #fff;
    }
    
}

/* cube ma7loul */

aside {
    overflow: hidden;
    display: flex;
    background: transparent;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 60rem;
}

#drag, #spin {
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

#drag img {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    box-shadow: 0 0 8px #ffffff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag img:hover {
    box-shadow: 0 0 1.5rem #ffffff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);  
}

#ground {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
}

#ground img:hover {
    box-shadow: none;
} 

#ground img {
    box-shadow: none;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


@keyframes spinRevert {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0deg);
    }
}


footer {
    text-align: center;
    margin-top: 4rem;
}

